@import "~variables";

.sectionText {
    display: block;
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    overflow: hidden;
    height: 0;
    color: #0BF;
    font-size: 20em;
    font-family: Raleway;
    font-weight: bold;
    text-transform: uppercase;
    transform: translate(-50%, -50%) !important;
    transition: all 1s $easeOutCirc;
}