# Node
/node_modules

# Yarn
/npm-debug.log
/yarn-error.log

# Storage
/storage/*.key

/vendor
/.idea
/.env

/public/**/*
!/public/index.html
!/public/robots.txt
!/public/sitemap.xml
!/public/manifest.json

/.DS_Store
/dist/

# Editor directories and files
/*.suo
/*.ntvs*
/*.njsproj
/*.sln
/bash.exe.stackdump