RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]

## Site referer cleanup
# Liste
RewriteCond %{HTTP_REFERER}100dollars-seo.com [NC,OR]
RewriteCond %{HTTP_REFERER}12masterov.com [NC,OR]
RewriteCond %{HTTP_REFERER}4webmasters.org [NC,OR]
RewriteCond %{HTTP_REFERER}7makemoneyonline.com [NC,OR]
RewriteCond %{HTTP_REFERER}acads.net [NC,OR]
RewriteCond %{HTTP_REFERER}adcash.com [NC,OR]
RewriteCond %{HTTP_REFERER}adspart.com [NC,OR]
RewriteCond %{HTTP_REFERER}adventureparkcostarica.com [NC,OR]
RewriteCond %{HTTP_REFERER}adviceforum.info [NC,OR]
RewriteCond %{HTTP_REFERER}affordablewebsitesandmobileapps.com [NC,OR]
RewriteCond %{HTTP_REFERER}akuhni.by [NC,OR]
RewriteCond %{HTTP_REFERER}allwomen.info [NC,OR]
RewriteCond %{HTTP_REFERER}alpharma.net [NC,OR]
RewriteCond %{HTTP_REFERER}altermix.ua [NC,OR]
RewriteCond %{HTTP_REFERER}amt-k.ru [NC,OR]
RewriteCond %{HTTP_REFERER}anal-acrobats.hol.es [NC,OR]
RewriteCond %{HTTP_REFERER}android-style.com [NC,OR]
RewriteCond %{HTTP_REFERER}anticrawler.org [NC,OR]
RewriteCond %{HTTP_REFERER}arkkivoltti.net [NC,OR]
RewriteCond %{HTTP_REFERER}aruplighting.com [NC,OR]
RewriteCond %{HTTP_REFERER}baixar-musicas-gratis.com [NC,OR]
RewriteCond %{HTTP_REFERER}baladur.ru [NC,OR]
RewriteCond %{HTTP_REFERER}balitouroffice.com [NC,OR]
RewriteCond %{HTTP_REFERER}bard-real.com.ua [NC,OR]
RewriteCond %{HTTP_REFERER}best-seo-offer.com [NC,OR]
RewriteCond %{HTTP_REFERER}best-seo-solution.com [NC,OR]
RewriteCond %{HTTP_REFERER}bestmobilityscooterstoday.com [NC,OR]
RewriteCond %{HTTP_REFERER}bestwebsitesawards.com [NC,OR]
RewriteCond %{HTTP_REFERER}billiard-classic.com.ua [NC,OR]
RewriteCond %{HTTP_REFERER}blackhatworth.com [NC,OR]
RewriteCond %{HTTP_REFERER}blue-square.biz [NC,OR]
RewriteCond %{HTTP_REFERER}bmw.afora.ru [NC,OR]
RewriteCond %{HTTP_REFERER}brakehawk.com [NC,OR]
RewriteCond %{HTTP_REFERER}break-the-chains.com [NC,OR]
RewriteCond %{HTTP_REFERER}brothers-smaller.ru [NC,OR]
RewriteCond %{HTTP_REFERER}buttons-for-website.com [NC,OR]
RewriteCond %{HTTP_REFERER}buttons-for-your-website.com [NC,OR]
RewriteCond %{HTTP_REFERER}buy-cheap-online.info [NC,OR]
RewriteCond %{HTTP_REFERER}buy-forum.ru [NC,OR]
RewriteCond %{HTTP_REFERER}cardiosport.com.ua [NC,OR] [NC,OR]
RewriteCond %{HTTP_REFERER}cartechnic.ru [NC,OR]
RewriteCond %{HTTP_REFERER}cenokos.ru [NC,OR]
RewriteCond %{HTTP_REFERER}cenoval.ru [NC,OR]
RewriteCond %{HTTP_REFERER}cezartabac.ro [NC,OR]
RewriteCond %{HTTP_REFERER}ci.ua [NC,OR]
RewriteCond %{HTTP_REFERER}cityadspix.com [NC,OR]
RewriteCond %{HTTP_REFERER}civilwartheater.com [NC,OR]
RewriteCond %{HTTP_REFERER}coderstate.com [NC,OR]
RewriteCond %{HTTP_REFERER}connectikastudio.com [NC,OR]
RewriteCond %{HTTP_REFERER}cubook.supernew.org [NC,OR]
RewriteCond %{HTTP_REFERER}customsua.com.ua [NC,OR] [NC,OR]
RewriteCond %{HTTP_REFERER}dailyrank.net [NC,OR]
RewriteCond %{HTTP_REFERER}darodar.com [NC,OR]
RewriteCond %{HTTP_REFERER}delfin-aqua.com.ua [NC,OR] [NC,OR]
RewriteCond %{HTTP_REFERER}demenageur.com [NC,OR]
RewriteCond %{HTTP_REFERER}descargar-musica-gratis.net [NC,OR]
RewriteCond %{HTTP_REFERER}detskie-konstruktory.ru [NC,OR]
RewriteCond %{HTTP_REFERER}dipstar.org [NC,OR]
RewriteCond %{HTTP_REFERER}djekxa.ru [NC,OR]
RewriteCond %{HTTP_REFERER}dojki-hd.com [NC,OR]
RewriteCond %{HTTP_REFERER}domination.ml [NC,OR]
RewriteCond %{HTTP_REFERER}doska-vsem.ru [NC,OR]
RewriteCond %{HTTP_REFERER}dostavka-v-krym.com [NC,OR]
RewriteCond %{HTTP_REFERER}drupa.com [NC,OR]
RewriteCond %{HTTP_REFERER}dvr.biz.ua [NC,OR]
RewriteCond %{HTTP_REFERER}e-kwiaciarz.pl [NC,OR]
RewriteCond %{HTTP_REFERER}ecomp3.ru [NC,OR]
RewriteCond %{HTTP_REFERER}econom.co [NC,OR]
RewriteCond %{HTTP_REFERER}edakgfvwql.ru [NC,OR]
RewriteCond %{HTTP_REFERER}egovaleo.it [NC,OR]
RewriteCond %{HTTP_REFERER}ekto.ee [NC,OR]
RewriteCond %{HTTP_REFERER}elmifarhangi.com [NC,OR]
RewriteCond %{HTTP_REFERER}este-line.com.ua [NC,OR] [NC,OR]
RewriteCond %{HTTP_REFERER}euromasterclass.ru [NC,OR]
RewriteCond %{HTTP_REFERER}europages.com.ru [NC,OR] [NC,OR]
RewriteCond %{HTTP_REFERER}eurosamodelki.ru [NC,OR]
RewriteCond %{HTTP_REFERER}event-tracking.com [NC,OR]
RewriteCond %{HTTP_REFERER}forum20.smailik.org [NC,OR]
RewriteCond %{HTTP_REFERER}forum69.info [NC,OR]
RewriteCond %{HTTP_REFERER}free-share-buttons.com [NC,OR]
RewriteCond %{HTTP_REFERER}free-social-buttons.com [NC,OR]
RewriteCond %{HTTP_REFERER}freewhatsappload.com [NC,OR]
RewriteCond %{HTTP_REFERER}generalporn.org [NC,OR]
RewriteCond %{HTTP_REFERER}germes-trans.com [NC,OR]
RewriteCond %{HTTP_REFERER}get-free-traffic-now.com [NC,OR]
RewriteCond %{HTTP_REFERER}ghazel.ru [NC,OR]
RewriteCond %{HTTP_REFERER}girlporn.ru [NC,OR]
RewriteCond %{HTTP_REFERER}gkvector.ru [NC,OR]
RewriteCond %{HTTP_REFERER}gobongo.info [NC,OR]
RewriteCond %{HTTP_REFERER}goodprotein.ru [NC,OR]
RewriteCond %{HTTP_REFERER}googlsucks.com [NC,OR]
RewriteCond %{HTTP_REFERER}guardlink.org [NC,OR]
RewriteCond %{HTTP_REFERER}hulfingtonpost.com [NC,OR]
RewriteCond %{HTTP_REFERER}humanorightswatch.org [NC,OR]
RewriteCond %{HTTP_REFERER}hundejo.com [NC,OR]
RewriteCond %{HTTP_REFERER}hvd-store.com [NC,OR]
RewriteCond %{HTTP_REFERER}ico.re [NC,OR]
RewriteCond %{HTTP_REFERER}igru-xbox.net [NC,OR]
RewriteCond %{HTTP_REFERER}iloveitaly.ro [NC,OR]
RewriteCond %{HTTP_REFERER}iloveitaly.ru [NC,OR]
RewriteCond %{HTTP_REFERER}ilovevitaly.co [NC,OR]
RewriteCond %{HTTP_REFERER}ilovevitaly.com [NC,OR]
RewriteCond %{HTTP_REFERER}ilovevitaly.info [NC,OR]
RewriteCond %{HTTP_REFERER}ilovevitaly.org [NC,OR]
RewriteCond %{HTTP_REFERER}ilovevitaly.ru [NC,OR]
RewriteCond %{HTTP_REFERER}iminent.com [NC,OR]
RewriteCond %{HTTP_REFERER}imperiafilm.ru [NC,OR]
RewriteCond %{HTTP_REFERER}iskalko.ru [NC,OR]
RewriteCond %{HTTP_REFERER}ispaniya-costa-blanca.ru [NC,OR]
RewriteCond %{HTTP_REFERER}it-max.com.ua [NC,OR] [NC,OR]
RewriteCond %{HTTP_REFERER}jjbabskoe.ru [NC,OR]
RewriteCond %{HTTP_REFERER}kabbalah-red-bracelets.com [NC,OR]
RewriteCond %{HTTP_REFERER}kambasoft.com [NC,OR]
RewriteCond %{HTTP_REFERER}kazrent.com [NC,OR]
RewriteCond %{HTTP_REFERER}kino-fun.ru [NC,OR]
RewriteCond %{HTTP_REFERER}kino-key.info [NC,OR]
RewriteCond %{HTTP_REFERER}kinopolet.net [NC,OR]
RewriteCond %{HTTP_REFERER}laxdrills.com [NC,OR]
RewriteCond %{HTTP_REFERER}littleberry.ru [NC,OR]
RewriteCond %{HTTP_REFERER}livefixer.com [NC,OR]
RewriteCond %{HTTP_REFERER}luxup.ru [NC,OR]
RewriteCond %{HTTP_REFERER}makemoneyonline.com [NC,OR]
RewriteCond %{HTTP_REFERER}maridan.com.ua [NC,OR] [NC,OR]
RewriteCond %{HTTP_REFERER}masterseek.com [NC,OR]
RewriteCond %{HTTP_REFERER}mebelcomplekt.ru [NC,OR]
RewriteCond %{HTTP_REFERER}mebeldekor.com.ua [NC,OR] [NC,OR]
RewriteCond %{HTTP_REFERER}med-zdorovie.com.ua [NC,OR] [NC,OR]
RewriteCond %{HTTP_REFERER}minegam.com [NC,OR]
RewriteCond %{HTTP_REFERER}mirobuvi.com.ua [NC,OR] [NC,OR]
RewriteCond %{HTTP_REFERER}msk.afora.ru [NC,OR]
RewriteCond %{HTTP_REFERER}myftpupload.com [NC,OR]
RewriteCond %{HTTP_REFERER}niki-mlt.ru [NC,OR]
RewriteCond %{HTTP_REFERER}novosti-hi-tech.ru [NC,OR]
RewriteCond %{HTTP_REFERER}o-o-6-o-o.com [NC,OR]
RewriteCond %{HTTP_REFERER}o-o-8-o-o.ru [NC,OR]
RewriteCond %{HTTP_REFERER}ok.ru [NC,OR]
RewriteCond %{HTTP_REFERER}onlywoman.org [NC,OR]
RewriteCond %{HTTP_REFERER}ooo-olni.ru [NC,OR]
RewriteCond %{HTTP_REFERER}ozas.net [NC,OR]
RewriteCond %{HTTP_REFERER}palvira.com.ua [NC,OR] [NC,OR]
RewriteCond %{HTTP_REFERER}photokitchendesign.com [NC,OR]
RewriteCond %{HTTP_REFERER}pornhub-forum.ga [NC,OR]
RewriteCond %{HTTP_REFERER}pornhub-forum.uni.me [NC,OR]
RewriteCond %{HTTP_REFERER}pornhub-ru.com [NC,OR]
RewriteCond %{HTTP_REFERER}pornoforadult.com [NC,OR]
RewriteCond %{HTTP_REFERER}pozdravleniya-c.ru [NC,OR]
RewriteCond %{HTTP_REFERER}priceg.com [NC,OR]
RewriteCond %{HTTP_REFERER}prodvigator.ua [NC,OR]
RewriteCond %{HTTP_REFERER}psa48.ru [NC,OR]
RewriteCond %{HTTP_REFERER}qitt.ru [NC,OR]
RewriteCond %{HTTP_REFERER}ranksonic.info [NC,OR]
RewriteCond %{HTTP_REFERER}ranksonic.org [NC,OR]
RewriteCond %{HTTP_REFERER}rapidgator-porn.ga [NC,OR]
RewriteCond %{HTTP_REFERER}research.ifmo.ru [NC,OR]
RewriteCond %{HTTP_REFERER}resellerclub.com [NC,OR]
RewriteCond %{HTTP_REFERER}rightenergysolutions.com.au [NC,OR]
RewriteCond %{HTTP_REFERER}sady-urala.ru [NC,OR]
RewriteCond %{HTTP_REFERER}sanjosestartups.com [NC,OR]
RewriteCond %{HTTP_REFERER}savetubevideo.com [NC,OR]
RewriteCond %{HTTP_REFERER}screentoolkit.com [NC,OR]
RewriteCond %{HTTP_REFERER}search-error.com [NC,OR]
RewriteCond %{HTTP_REFERER}semalt.com [NC,OR]
RewriteCond %{HTTP_REFERER}semaltmedia.com [NC,OR]
RewriteCond %{HTTP_REFERER}seo-smm.kz [NC,OR]
RewriteCond %{HTTP_REFERER}seoexperimenty.ru [NC,OR]
RewriteCond %{HTTP_REFERER}seopub.net [NC,OR]
RewriteCond %{HTTP_REFERER}sexyteens.hol.es [NC,OR]
RewriteCond %{HTTP_REFERER}sharebutton.net [NC,OR]
RewriteCond %{HTTP_REFERER}shop.xz618.com [NC,OR]
RewriteCond %{HTTP_REFERER}simple-share-buttons.com [NC,OR]
RewriteCond %{HTTP_REFERER}slftsdybbg.ru [NC,OR]
RewriteCond %{HTTP_REFERER}slkrm.ru [NC,OR]
RewriteCond %{HTTP_REFERER}soaksoak.ru [NC,OR]
RewriteCond %{HTTP_REFERER}social-buttons.com [NC,OR]
RewriteCond %{HTTP_REFERER}socialseet.ru [NC,OR]
RewriteCond %{HTTP_REFERER}sohoindia.net [NC,OR]
RewriteCond %{HTTP_REFERER}spb.afora.ru [NC,OR]
RewriteCond %{HTTP_REFERER}spravka130.ru [NC,OR]
RewriteCond %{HTTP_REFERER}superiends.org [NC,OR]
RewriteCond %{HTTP_REFERER}tattooha.com [NC,OR]
RewriteCond %{HTTP_REFERER}tedxrj.com [NC,OR]
RewriteCond %{HTTP_REFERER}theguardlan.com [NC,OR]
RewriteCond %{HTTP_REFERER}toyota.7zap.com [NC,OR]
RewriteCond %{HTTP_REFERER}trafficmonetize.org [NC,OR]
RewriteCond %{HTTP_REFERER}trion.od.ua [NC,OR]
RewriteCond %{HTTP_REFERER}uzungil.com [NC,OR]
RewriteCond %{HTTP_REFERER}videos-for-your-business.com [NC,OR]
RewriteCond %{HTTP_REFERER}vodkoved.ru [NC,OR]
RewriteCond %{HTTP_REFERER}webmaster-traffic.com [NC,OR]
RewriteCond %{HTTP_REFERER}webmonetizer.net [NC,OR]
RewriteCond %{HTTP_REFERER}websites-reviews.com [NC,OR]
RewriteCond %{HTTP_REFERER}websocial.me [NC,OR]
RewriteCond %{HTTP_REFERER}wmasterlead.com [NC,OR]
RewriteCond %{HTTP_REFERER}ykecwqlixx.ru [NC,OR]
RewriteCond %{HTTP_REFERER}youporn-forum.ga [NC,OR]
RewriteCond %{HTTP_REFERER}youporn-forum.uni.me [NC,OR]
RewriteCond %{HTTP_REFERER}zastroyka.org [NC,OR]
RewriteCond %{HTTP_REFERER}наркомания.лечениенаркомании.com [NC,OR]
RewriteCond %{HTTP_REFERER}непереводимая.рф [NC,OR]
RewriteCond %{HTTP_REFERER}грузоподъемные-машины.рф [NC,OR]
RewriteCond %{HTTP_REFERER}снятьдомвсевастополе.рф [NC,OR]

# Redirection
RewriteRule .* - [F]

# protect the htaccess file
<files .htaccess>
    order allow,deny
    deny from all
</files>

# protection de la lecture des répertoires
Options -Indexes

# Enable GZIP compression
<IfModule mod_gzip.c>
    mod_gzip_on Yes
    mod_gzip_dechunk Yes
    mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
    mod_gzip_item_include handler ^cgi-script$
    mod_gzip_item_include mime ^text/.*
    mod_gzip_item_include mime ^application/x-javascript.*
    mod_gzip_item_exclude mime ^image/.*
    mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</IfModule>

<IfModule mod_filter.c>
    # Compress HTML, CSS, JavaScript, Text, XML and fonts
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
    AddOutputFilterByType DEFLATE application/x-font
    AddOutputFilterByType DEFLATE application/x-font-opentype
    AddOutputFilterByType DEFLATE application/x-font-otf
    AddOutputFilterByType DEFLATE application/x-font-truetype
    AddOutputFilterByType DEFLATE application/x-font-ttf
    AddOutputFilterByType DEFLATE application/x-javascript
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE font/opentype
    AddOutputFilterByType DEFLATE font/otf
    AddOutputFilterByType DEFLATE font/ttf
    AddOutputFilterByType DEFLATE image/svg+xml
    AddOutputFilterByType DEFLATE image/x-icon
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/javascript
    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/xml

    # Remove browser bugs (only needed for really old browsers)
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
    Header append Vary User-Agent
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 7200 seconds"
    ExpiresByType image/jpg "access plus 2592000 seconds"
    ExpiresByType image/jpeg "access plus 2592000 seconds"
    ExpiresByType image/png "access plus 2592000 seconds"
    ExpiresByType image/gif "access plus 2592000 seconds"
    AddType image/x-icon .ico
    ExpiresByType image/ico "access plus 2592000 seconds"
    ExpiresByType image/icon "access plus 2592000 seconds"
    ExpiresByType image/x-icon "access plus 2592000 seconds"
    ExpiresByType text/css "access plus 2592000 seconds"
    ExpiresByType text/javascript "access plus 2592000 seconds"
    ExpiresByType text/html "access plus 7200 seconds"
    ExpiresByType application/xhtml+xml "access plus 7200 seconds"
    ExpiresByType application/javascript A2592000
    ExpiresByType application/x-javascript "access plus 2592000 seconds"
    ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
</IfModule>

# BEGIN Cache-Control Headers
<IfModule mod_headers.c>
    <FilesMatch "\.(ico|jpe?g|png|gif|swf|css|gz)$">
        Header set Cache-Control "max-age=2592000, public"
    </FilesMatch>
    <FilesMatch "\.(js)$">
        Header set Cache-Control "max-age=2592000, private"
    </FilesMatch>
    <filesMatch "\.(html|htm)$">
        Header set Cache-Control "max-age=7200, public"
    </filesMatch>
    # Disable caching for scripts and other dynamic files
    <FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
        Header unset Cache-Control
    </FilesMatch>
</IfModule>
# END Cache-Control Headers

# KILL THEM ETAGS
Header unset ETag
FileETag none

# protect the htaccess file
<files .htaccess>
    order allow,deny
    deny from all
</files>

# ----------------------------------------------------------------------
# | Compression                                                        |
# ----------------------------------------------------------------------
<IfModule mod_deflate.c>
    # Force compression for mangled `Accept-Encoding` request headers
    # https://developer.yahoo.com/blogs/ydn/pushing-beyond-gzipping-25601.html
    <IfModule mod_setenvif.c>
        <IfModule mod_headers.c>
            SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
            RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
        </IfModule>
    </IfModule>

    # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    # Compress all output labeled with one of the following media types.
    #
    # (!) For Apache versions below version 2.3.7 you don't need to
    # enable `mod_filter` and can remove the `<IfModule mod_filter.c>`
    # and `</IfModule>` lines as `AddOutputFilterByType` is still in
    # the core directives.
    #
    # https://httpd.apache.org/docs/current/mod/mod_filter.html#addoutputfilterbytype
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE "application/atom+xml" \
                                      "application/javascript" \
                                      "application/json" \
                                      "application/ld+json" \
                                      "application/manifest+json" \
                                      "application/rdf+xml" \
                                      "application/rss+xml" \
                                      "application/schema+json" \
                                      "application/vnd.geo+json" \
                                      "application/vnd.ms-fontobject" \
                                      "application/x-font-ttf" \
                                      "application/x-javascript" \
                                      "application/x-web-app-manifest+json" \
                                      "application/xhtml+xml" \
                                      "application/xml" \
                                      "font/eot" \
                                      "font/opentype" \
                                      "image/bmp" \
                                      "image/svg+xml" \
                                      "image/vnd.microsoft.icon" \
                                      "image/x-icon" \
                                      "text/cache-manifest" \
                                      "text/css" \
                                      "text/html" \
                                      "text/javascript" \
                                      "text/plain" \
                                      "text/vcard" \
                                      "text/vnd.rim.location.xloc" \
                                      "text/vtt" \
                                      "text/x-component" \
                                      "text/x-cross-domain-policy" \
                                      "text/xml"
    </IfModule>

    # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    # Map the following filename extensions to the specified
    # encoding type in order to make Apache serve the file types
    # with the appropriate `Content-Encoding` response header
    # (do note that this will NOT make Apache compress them!).
    #
    # If these files types would be served without an appropriate
    # `Content-Enable` response header, client applications (e.g.:
    # browsers) wouldn't know that they first need to uncompress
    # the response, and thus, wouldn't be able to understand the
    # content.
    #
    # https://httpd.apache.org/docs/current/mod/mod_mime.html#addencoding
    <IfModule mod_mime.c>
        AddEncoding gzip              svgz
    </IfModule>
</IfModule>
