@import '~variables';
@import '~mixins';

$dot-size: 40px;
$button-size: 20px;

* {
    // Replace native cursor
    cursor: none !important;
}

.dot {
    z-index: z(cursor);
    position: absolute;
    top: -$dot-size / 2;
    left: -$dot-size / 2;
    width: $dot-size;
    height: $dot-size;
    pointer-events: none;
    transform: rotate(-90deg) scale(#{$button-size / ($dot-size/3)});
    transition: opacity .2s $easeOutQuad;

    &.hide {
        opacity: 0;
    }

    svg {
        path {
            transform-origin: center;
        }

        .hoverCirclePath {
            opacity: 0;
            stroke: #fff;
            stroke-width: 2px;
            transform: scale(0);
            transform-origin: center;
            transition: all .2s $easeOutQuad;
        }
    }

    &.hover {
        svg {
            transform: scale(0.7);

            path {
                fill: #eee;
            }

            .hoverCirclePath {
                fill: transparent;
                opacity: 1;
                transform: scale(1.8);
            }
        }
    }

    &.click {
        svg {
            transform: scale(.5);
        }
    }

    svg {
        width: 100%;
        position: absolute;
        transform: rotate(-90deg);
        transition: 600ms all cubic-bezier(0.23, 1, 0.32, 1);

        path {
            width: 20px;
            height: 20px;
            fill: #353535;
            transition: 600ms all cubic-bezier(0.23, 1, 0.32, 1);
        }
    }
}

#cursor {
    z-index: z(cursor);
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100%;
    background-color: #5cde87;
    pointer-events: none;
    transform: translate3d(-50%, -50%, 0);
    transition: all .2s $easeOutCirc;

    &.hover {
        width: 10px;
        height: 10px;
        background-color: rgba(255, 255, 255, .6);

        &::before {
            transform: translate3d(-50%, -50%, 0) scale(1)
        }
    }

    &::before {
        z-index: -1;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        height: 40px;
        width: 40px;
        pointer-events: none;
        border: 1px solid rgba(255, 255, 255, .4);
        border-radius: 100%;
        transform: translate3d(-50%, -50%, 0) scale(0);
        transition: all .4s ease-in-out;
    }
}