@import "~@kickoff/utils.scss/scss/index";
@import "~include-media/dist/include-media";
@import "~variables";

// @include center-block
@mixin center-block() {
    display: block;
    margin: 0 auto;
}

@mixin clearfix() {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

// z-index function
@function z($key) {
    @if map-has-key($z-layers, $key) {
        @return map-get($z-layers, $key);
    }

    @warn "Unknown `#{$key}` in $z-layers.";
    @return null;
}

// font-family function
@function font-family($key) {
    @if map-has-key($fonts, $key) {
        @return map-get($fonts, $key) + ', Arial, sans-serif';
    }

    @warn "Unknown `#{$key}` in $fonts.";
    @return null;
}

// get-island-width function
@function get-island-width($key) {
    @if map-has-key($island-width, $key) {
        @return map-get($island-width, $key);
    }

    @warn "Unknown `#{$key}` in $island-width.";
    @return null;
}

// user-select mixin
@mixin no-user-select() {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

// pointer-events mixin
@mixin no-pointer-events() {
    pointer-events: none;
    -ms-pointer-events: none;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
}