@import "./../mixins/mixins";

#background {
    z-index: -1;
    opacity: .3;
    min-width: 100%;
    height: 100%;

    @include media('>laptop-l', '<=4k') {
        height: auto;
        min-width: auto;
        min-height: 100%;
    }
}