@import "./../mixins/mixins";

.cloud {
    z-index: z(cloud);

    @for $i from 1 through 5 {
        &.cloud-#{$i} {
            @include media('<=phone') {
                display: none !important; // Important to override parallax
            }

            @if ($i == 1) {
                .cloud__image {
                    animation: upAndDownMove 4s infinite;
                }
            } @else if ($i == 2) {
                .cloud__image {
                    animation: upAndDownMove 6.2s infinite;
                }
            } @else if ($i == 3) {
                z-index: z(birds) + 1;
                .cloud__image {
                    animation: upAndDownMove 4.9s infinite;
                }
            } @else if ($i == 4) {
                z-index: z(birds) + 1;
                .cloud__image {
                    animation: upAndDownMove 7.4s infinite;
                }
            } @else {
                z-index: z(birds) + 1;
                .cloud__image {
                    animation: upAndDownMove 3.9s infinite;
                }
            }
        }
    }
}