@import "./../variables";

$time: .4;
$numberLayers: 10;

.works {
    &-leave-active {
        .layer {
            transform: translate3d(-100vw, 0, 0) !important; // Important to override parallax
            animation: none;
            transition: transform #{$time}s $easeOutQuint;

            @for $i from 1 through $numberLayers {
                &:nth-child(#{$i}) {
                    transition: transform #{$time}s $easeInCirc ($i - 1) / 10 + s;
                }
            }
        }
    }

    &-enter, &-leave, &-enter-active, &-leave-active {
        transition: transform $time + ($numberLayers / 10) + s $easeOutQuint;
    }
}