@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes upAndDownMoveCenter {
    0% {
        transform: translate3d(-50%, 0, 0);
    }
    50% {
        transform: translate3d(-50%, -7%, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

@keyframes upAndDownMove {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, -7%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes dragHand {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-150%);
    }
    50% {
        transform: translateX(-150%);
    }
    80%, 100% {
        transform: translateX(0);
    }
}

@keyframes dragHandRightArrow {
    0% {
        opacity: 1;
        transform: rotate(180deg) translateX(-150%);
    }
    20% {
        opacity: 0;
        transform: rotate(180deg) translateX(0);
    }
    50% {
        opacity: 0;
        transform: rotate(180deg) translateX(0);
    }
    80%, 100% {
        opacity: 1;
        transform: rotate(180deg) translateX(-150%);
    }
}

@keyframes dragHandLeftArrow {
    0% {
        opacity: 1;
        transform: translateX(-150%);
    }
    20% {
        opacity: 0;
        transform: translateX(0);
    }
    50% {
        opacity: 0;
        transform: translateX(0);
    }
    80%, 100% {
        opacity: 1;
        transform: translateX(-150%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}