@import "~variables";

$time: .3;
$numberLayers: 8;

.works {
    &-leave-active, &-enter {
        .layer {
            transform: translate3d(0, 40px, 0) !important; // Important to override parallax
            animation: none;

            @for $i from 1 through $numberLayers {
                &:nth-child(#{$i}) {
                    opacity: 0;
                    transition: opacity #{$time}s $easeInCirc ($i - 1) / 10 + s, transform #{$time}s $easeInCirc ($i - 1) / 10 + s;
                }
            }
        }
    }

    &-enter-active {
        .layer {
            transform: translate3d(0, 0, 0) !important; // Important to override parallax
            animation: none;

            @for $i from 1 through $numberLayers {
                &:nth-child(#{$i}) {
                    opacity: 1;
                    transition: opacity #{$time}s $easeInCirc ($i - 1) / 10 + s, transform #{$time}s $easeInCirc ($i - 1) / 10 + s;
                }
            }
        }
    }

    &-enter, &-leave, &-enter-active, &-leave-active {
        transition: transform $time + ($numberLayers / 10) + s $easeOutQuint;
    }
}