@import "~awesome-sass-easing/sass-easing";

$body-bg: #fff;
$fonts: (
        'base': 'Bariol, Arial, sans-serif'
);

$breakpoints: (
        'phone': 320px,
        'tablet': 768px,
        'desktop': 1024px,
        'large-desktop': 1300px
);

$z-layers: (
        bottomless: -1,
        default: 1,
        copyright: 10,
        dropdown: 300,
        overlay: 400,
        modal: 401
);
