@import "~awesome-sass-easing/sass-easing";

$body-bg: #fff;
$fonts: (
        Base: Nunito,
        Bariol: Bariol,
        Nunito: Nunito,
        Aventura: Aventura
);

$breakpoints: (
        phone: 320px,
        tablet: 768px,
        desktop: 1024px,
        large-desktop: 1300px
);

$z-layers: (
        bottom: -1,
        default: 1,
        cloud: -1,
        birds: 0,
        island: 3,
        copyright: 10
);
