@import "~mixins";

$elements: 15;
$espacementBetweenElements: 4.2;
$initialLeft: 440;
#works {
    position: absolute;
    width: 100vw;
    height: 100vh;
    @include no-user-select();

    .backspace__button {
        position: absolute;
        top: 20px;
        right: 40px;

        .backspace__arrow {
            height: 18px;
            transition: all .4s $easeOutBack;
        }

        &:hover {
            .backspace__arrow {
                transform: translateX(-5px);
            }
        }
    }

    .activeWorkDescription {
        position: absolute;
        top: 160px;
        left: #{$initialLeft}px;
        transition: all .4s $easeOutQuad;

        &.hide {
            opacity: 0;
            transition: all .2s $easeOutQuad;
        }

        .activeWorkDescription__title {
            font-size: 60px;
            font-weight: 600;
            color: #393939;
            letter-spacing: 6px;
        }

        .activeWorkDescription__text {
            display: block;
            margin-top: 20px;
            max-width: 50vw;
            width: 800px;
            line-height: 1.2em;
            font-size: 20px;
            font-weight: 200;
            text-transform: uppercase;
        }
    }

    .worksContainer {
        height: 100%;
    }

    .work {
        position: absolute;
        bottom: 135px;
        transition: all .4s $easeOutQuad;

        @for $i from 0 to $elements {
            &:nth-child(#{$i + 2}) {
                left: ($initialLeft + $i * ($espacementBetweenElements * 50)) + px;
            }
        }

        &.work--active {
            z-index: 30;
            left: 60px;
            bottom: 100px;
            transition: all .4s $easeOutQuad, bottom .2s;

            &.work--fullscreen {
                bottom: 20px;
                transition: all .4s $easeOutQuad, bottom .2s .4s, height .2s .4s;
            }
        }

        &.work-move {
            z-index: 31;
        }

        &.work-leave-active {
            opacity: 0;
            transform: translate3d(-50%, 0, 0);
            transition: opacity .3s $easeOutQuad, transform .4s $easeOutQuad;
        }

        &.work-enter-active {
            opacity: 0;
            transform: translate3d(150%, 0, 0);
        }

        //&.work-enter-active {
        //    opacity: 0;
        //    transform: translate3d(50%, 0, 0);
        //}

        //&.work-enter-to {
        //    opacity: 1;
        //    transform: translate3d(0, 0, 0);
        //
        //    @for $i from 0 to $elements {
        //        &:nth-child(#{$i}) {
        //            transition: all .4s #{($i * 2) / 10}s $easeOutQuad;
        //        }
        //    }
        //}
    }
}
